@model IEnumerable<BT.Models.TProjects>
@{
    ViewBag.Title = "Список проектов";
}
@section UActions{    
    <li>
        <a href="@Url.Action("Create", "Projects")">
            <i class="icon-plus-2"></i>
            Создать
        </a>
    </li>
}
<div class="listview place-right">

</div>
<div class="listview place-left">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Index", "ProjectsVersions", new { id = item.Id })" class="list">
            <div class="list-content">
                @item.TProjectsName
            </div>
        </a>
    }
</div>
